{% include base_path %}

<!-- start custom head snippets -->

<link rel="apple-touch-icon" sizes="57x57" href="📜">
<link rel="apple-touch-icon" sizes="60x60" href="📜">
<link rel="apple-touch-icon" sizes="72x72" href="📜">
<link rel="apple-touch-icon" sizes="76x76" href="📜">
<link rel="apple-touch-icon" sizes="114x114" href="📜">
<link rel="apple-touch-icon" sizes="120x120" href="📜">
<link rel="apple-touch-icon" sizes="144x144" href="📜">
<link rel="apple-touch-icon" sizes="152x152" href="📜">
<link rel="apple-touch-icon" sizes="180x180" href="📜">
<link rel="icon" type="image/png" href="📜" sizes="32x32">
<link rel="icon" type="image/png" href="📜" sizes="192x192">
<link rel="icon" type="image/png" href="📜" sizes="96x96">
<link rel="icon" type="image/png" href="📜" sizes="16x16">
<link rel="manifest" href="📜">
<link rel="mask-icon" href="📜" color="#000000">
<link rel="shortcut icon" href="📜">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="📜">
<meta name="msapplication-config" content="📜">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- Support for MatJax -->
<script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- end custom head snippets -->


