---
layout: archive
title: "Working Papers"
permalink: /research/
author_profile: true
---

{% include base_path %}

<div class="research-list">
  <ul> <!-- Start of bullet list -->
    {% for paper in site.research %}
      <li> <!-- Start of list item -->
        <div class="paper">
          <h3>{{ paper.title }}</h3>
          <p>{{ paper.authors }}</p>
          <p>{{ paper.journal }}</p>
          
          <!-- Collapsible Abstract -->
          <details>
            <summary>Abstract</summary>
            <p class="abstract-text">{{ paper.abstract }}</p>
          </details>

          <!-- Presented at line (displayed) only when presented_at is not empty) -->
          {% if paper.presented_at %}
            <p><strong>Presented at:</strong> {{ paper.presented_at }}</p>
          {% endif %}

          <!-- Presentation line -->
          {% if paper.Presentations %}
            <p><u>Presentations:</u> {{ paper.Presentations }}</p>
          {% endif %}

          <!-- Draft available upon when it is not empty) -->
          {% if paper.draft_request %}
              <p class="request-line">Draft available upon <a href="mailto:zxz5471@psu.edu">request</a></p>
          {% endif %}
    
        </div>
      </li> <!-- End of list item -->
    {% endfor %}
  </ul> <!-- End of bullet list -->
</div>
