---
layout: archive
title: "Working Papers"
permalink: /working_papers/
author_profile: true
---

{% include base_path %}

<div class="research-list">
  {% for paper in site.research %}
    <div class="paper">
      <h3>{{ paper.title }}</h3>
      <p>{{ paper.authors }}</p>
      <p>{{ paper.journal }}</p>
      
      <!-- Collapsible Abstract -->
      <details>
        <summary>Abstract</summary>
        <p class="abstract-text">{{ paper.abstract }}</p>
      </details>
    </div>
  {% endfor %}
</div>
