/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  background: white;
  border-bottom: 1px solid $border-color;
  height: $masthead-height;
  top: 0;
  width: 100%;

  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

   
  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 20px 1em 1em;  /* Updated padding-top to 20px */
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {

  ul {
    margin-left: 5px;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;
}


.masthead__menu-item--lg {
   padding-left: 40px;  /* Adjust right padding */ 

   padding-right: 90px;  /* Adjust right padding */ 
   font-weight: 700;
   /* width: 240.25px;  Set width for masthead__menu-item--lg */
  }
