/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  background: white;
  border-bottom: 1px solid $border-color;
  height: $masthead-height;
  top: 0;
  width: 100%;

  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 20px 1em 1em;  /* Updated padding-top to 20px */
    font-family: $sans-serif-narrow

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
      color: rgb(51, 51, 50); /* Set font color to dark gray */
    }
  }
}

.masthead__menu {

  ul {
   margin-left: 15px;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;
  color: rgb(51, 51, 50); /* Set font color to dark gray */

  -webkit-animation: intro 0.3s both; /* Apply animation only to masthead__menu-item */
  animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.masthead__menu-item--lg {
  padding-right: 2em;
  font-weight: 700;
  width: 242.25px; /* Set width for masthead__menu-item--lg */

}
