/* Targeting the h3 title directly above the summary */
.paper h3 {
  margin-bottom: 5px; /* Reduce the space below the title */
}

/* Style the summary and abstract text */
.paper details summary {
  cursor: pointer;
  font-weight: normal;
  margin-top: 3px;  /* Reduce (positive number) or eliminate (set it 0) space above the summary */
}

.paper-title {
  font-size: 1.1em; /* Adjust the font size as needed */
}


/* Style the abstract text */
.paper details p.abstract-text {
  font-size: 0.90em;
  padding: 12px; /* Add padding for equal left and right margins */
  margin: 10px 0; /* Add top and bottom margin */
  line-height: 1.5; /* Adjust line spacing */
  text-align: justify; /* Justify the text */
}


/* Add gray background color to abstract text when abstract button is clicked */
.paper details[open] .abstract-text {
  background-color: rgba(245,245,255,0.9); /* Background color in RGBa format */
}


/* Style the new request line */
.paper p.request-line {
  margin-top: 15px; /* Space between abstract text and request line */
  font-size: 0.90em; /* Match the abstract text size */
  font-style: italic; /* Make the text italic */
}

.paper p.request-line a {
  text-decoration: underline; /* Underline the link */
  color: #007bff; /* Optional: change the link color */
}

.paper p.request-line a:hover {
  color: #0056b3; /* Optional: change the link color on hover */
}
