---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<head>
  <style>
    .archive .page__title {
      font-size: 1.2rem; /* Adjust the font size as needed */
    }
    details {
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 5px;
      border-top: 1px solid #ccc;
    }
    p.abstract-text {
      margin-top: 5px;
      margin-bottom: 5px;
    }

  </style>
</head>

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>
