---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<head>
  <style>
    .archive .page__title {
      font-size: 1.2rem; /* Adjust the font size as needed */
    }
  </style>
</head>

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}
    
    <!-- Loop through research entries -->
    {% for post in site.research %}
      <div class="research-entry">
        <h2>{{ post.title }}</h2>
        <p>{{ post.abstract }}</p>
        
        {% if post.Presentation %}
          <p>Presentation: {{ post.Presentation }}</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
